@font-face {
    font-display: swap;
    font-family: 'National Park Outline';
    src: local('National Park Outline'), local('NationalPark-Outline'),
        url('./assets/NationalPark-Outline.woff2') format('woff2'),
        url('./assets/NationalPark-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'National Park';
    src: local('National Park Regular'), local('NationalPark-Regular'),
        url('./assets/NationalPark-Regular.woff2') format('woff2'),
        url('./assets/NationalPark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'National Park';
    src: local('National Park Heavy'), local('NationalPark-Heavy'),
        url('./assets/NationalPark-Heavy.woff2') format('woff2'),
        url('./assets/NationalPark-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'National Park';
    src: local('National Park Thin'), local('NationalPark-Thin'),
        url('./assets/NationalPark-Thin.woff2') format('woff2'),
        url('./assets/NationalPark-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

